<div class="container">
  <div class="row">
    <div class="col-md-5">
      <img src="https://i.imgur.com/6x6JH7v.png" class="img mt-5 mb-3" width="400px" alt="...">
    </div>
    <div class="col-md-5">

      <h2 class="mt-5">Editar Cadastro</h2>
      <div class="forma-group">
        <label for="nome">Nome</label>
        <input [(ngModel)]='tutor.nmPessoa' type="text" class="form-control" id="nome" placeholder="Digite o nome ">
      </div>

      <div class="forma-group">
        <label for="preco">Login</label>
        <input [(ngModel)]='tutor.dsLogin' type="text" class="form-control" id="login" placeholder="Digite um login">
      </div>
      <div class="forma-group">
        <label for="preco">Senha</label>
        <input [(ngModel)]='tutor.dsSenha' type="text" class="form-control" id="senha" placeholder="Digite uma senha">
      </div>

      <div class="modal-footer">
        <button [routerLink]="['/cadastro']" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)='atualizar()'>Atualizar</button>
      </div>
    </div>
  </div>
</div>
